body {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    letter-spacing: 0.1em;
    background: #333;
    background-image:
        -webkit-linear-gradient(rgba(32, 32, 32, 0.5) 0%, rgba(32, 32, 32, 0.5) 50%, rgba(32, 32, 32, 0.7) 50%, rgba(32, 32, 32, 0.7) 100%),
        -webkit-linear-gradient(left, rgba(32, 32, 32, 0.5) 0%, rgba(32, 32, 32, 0.5) 50%, rgba(32, 32, 32, 0.7) 50%, rgba(32, 32, 32, 0.7) 100%);
    background-size: 128px 128px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#page {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -240px;
    overflow: hidden;
}

#main {
    width: 960px;
    height: 400px;
    overflow: hidden;
    clear: both;
}

.title {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 34px;
}

    .title h1{
        font-size: 3em;
        line-height: 1em;
        margin: 0 0 0 2px;
        font-family: 'Ubuntu';
        font-style: italic;
        color: #fece2f;
    }

    .title em, .title span {
        color: #eee;
        font-style: normal;
        font-family: 'Lobster';
    }

    .title span {
        color: #777;
        font-size: 0.7em;
    }

#game {
    float: left;
    display: block;
    width: 640px;
    height: 400px;
    position: relative;
    background: rgb(89,149,179);
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(89,149,179)),
        color-stop(1, rgb(178,229,255)));
    background-image: -moz-linear-gradient(
        center top,
        rgb(89,149,179) 0%,
        rgb(178,229,255) 100%);
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

 
#copyright {
    padding-top: 8px;
    height: 22px;
}

    #copyright button {
        margin: 0;
        float: left;
    }

    #copyright p {
        float: right;
        margin: 2px 0 0;
    }

    #copyright, #copyright a {
        color: #555;
        text-decoration: none;
    }

        #copyright button.ui-button-icon-only .ui-button-text {
            padding: 0;
        }

        #copyright button.ui-button-icon-only {
            width: auto;
        }

        #copyright button .ui-button-text {
            width: 16px;
        }

#panel {
    float: right;
    height: 400px;
    width: 312px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;    
    opacity: 0.25;
    overflow: auto;
}

    #panel h2 {
        font-size: 1.5em;
        font-weight: normal;
        display: block;
        margin: 0;
        padding: 0.333em 0.333em 0.5em;
        line-height: 1em;
    }

    #panel div {
        margin-right: 0;
        padding: 0.25em 1em 0.25em 0.5em;
        overflow: hidden;
        width: auto;
    }

    #panel div:nth-child(2n) {
        background: #f7f7f7;
    }

    #panel div>label {
        display: block;
        width: 125px;
        float: left;
        padding-top: 2px;
    }


    #panel span.slider {
        width: 140px;
        display: block;
        float: left;
        margin: 0.5em 0.25em;
    }

/* JQUERY UI OVERRIDES */

.ui-widget {
    font-size: 1em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal;
}

.ui-button-text-only .ui-button-text {
    padding: 0.167em 0.75em;
}

.ui-buttonset .ui-button {
    margin-right: -.5em;
}

.ui-corner-left {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.ui-corner-right {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

#tooltip {
    min-width: 1em;
    min-height: 1em;
    position: absolute;
    text-align: center;
    padding: 0.25em;
    top: 0;
    left: 0;
}

.ui-slider .ui-slider-handle {
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
    margin-left: -0.75em;
    margin-top: -0.25em;
    display: inline-block;
    width: auto;
    min-width: 1em;
}

#loading {
    width: 360px;
    height: 120px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -60px;
    font-size: 1.5em;
    color: #eee;
}

    #loading .title {
        height: 51px;
    }